header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px; 
}
#pagehome header a {
    display: flex;
    color: var(--tittle-color);
    font-weight: 700;
}

#pagehome header a span {
    display: flex;
    margin-right: 16px;
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
}

#pagehome main {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
#pagehome main h1 {
    font-size: 54px;
}

#pagehome main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}
#pagehome main a{
    width: 100%;
    max-width: 360px;
    background: var(--primare-color);
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    transition: 400ms;
    font-weight: 700;
    color: white;
}

#pagehome main a:hover{
    background-color: #2fb86e;
}

#pagehome main a span{
    
    width: 72px;
    height: 72px;
    background-color: rgba(0,0,0,0.08);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagehome main a span::after{
    content:"";
    background-image: url(../assets/search.svg);
    width: 20px;
    height: 20px;

}
#pagehome main a b{
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: white;

}

