:root{
    --tittle-color: #322153;
    --primare-color: #0ad178;
    --background-color: #f0f0f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}
#pagehome {
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 40vw bottom;
}
h1,h2,h3,h4,h5,h6{
    color: var(--tittle-color);
    font-family: 'Ubuntu', sans-serif;
}
a
{
    text-decoration: none;
}

.content
    {width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction:column ;
}

